@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100&family=Roboto&display=swap");

body {
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  background-color: #f3f0d7;
}
.navbar-light .navbar-brand {
  color: #000000;
}
.navbar-light .navbar-brand:hover {
  color: #b4c6a6;
}
.navbar-light .nav-item .nav-link {
  color: #000000;
}
.navbar-light .nav-item .nav-link:hover {
  color: #b4c6a6;
}
.navbar-light .btn-outline-dark {
  color: #000000;
  background-color: #f3f0d7;
}
.navbar-light .btn-outline-dark:hover {
  color: #b4c6a6;
  border-color: #b4c6a6;
}

.card:hover {
  color:#b4c6a6 !important;
}

.col-md-8 .card-title:hover {
  color:#b4c6a6;
}

.btn-group .btn-check{
  background-color:#f3f0d7;
}

.bg-green {
  background-color: #cee5d0 !important;
}

.bg-light {
  background-color: #f3f0d7 !important;
}

.fetching {
  display: none;
}

.fetching.active {
  display: block;
  font-size: 2em;
  text-align: center;
  margin: 10px 0;
}

.unactive {
  display: none;
}
