.container-fluid {
  background-color: #ffffff;
}
.navbar-dark .navbar-brand {
  color: #000000;
} 
.navbar-dark .navbar-brand:hover {
  color: #FFBF86;
} 
.navbar-dark .nav-item .nav-link {
  color: #000000;
}
.navbar-dark .nav-item .nav-link:hover {
  color: #FFBF86;
}
.navbar-dark .btn-outline-dark {
  color: #000000;
  background-color: #ffffff;
}
.navbar-dark .btn-outline-dark:hover {
  color:#FFBF86;
  border-color:#FFBF86;
}


.fetching {
  display: none;
}

.fetching.active {
  display: block;
  font-size: 2em;
  text-align: center;
  margin: 10px 0;
}

.unactive {
  display: none;
}
