@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100&family=Roboto&display=swap");

body {
  font-family: 'Roboto', sans-serif;
}

.container-fluid {
  background-color: #f3f0d7;
}
.navbar-light .navbar-brand {
  color: #000000;
}
.navbar-light .navbar-brand:hover {
  color: #b4c6a6;
}
.navbar-light .nav-item .nav-link {
  color: #000000;
}
.navbar-light .nav-item .nav-link:hover {
  color: #b4c6a6;
}
.navbar-light .btn-outline-dark {
  background-color:#b4c6a6;
  border-color:#f3f0d7;
  color:#000000;
}
.navbar-light .btn-outline-dark:hover {
  background-color:#f3f0d7;
  border-color:#b4c6a6;
  color:#000000;
  box-shadow: 0 0 0 0.2rem #b4c6a6;
}

.btn-outline-primary {
  border-color : #f3f0d7;
  color : #000000;
  box-shadow: 0 0 0 0.25rem #f3f0d7;
}

.btn-outline-primary:hover {
  color: #000000;
  border-color: #b4c6a6;
  background-color:#b4c6a6
}

.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #000000;
  background-color: transparent;
}

.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #000000;
  background-color: #b4c6a6;
  border-color: #b4c6a6;
}

.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem #b4c6a6;
}

.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem #f3f0d7;
}

.btn-lg {
  background-color: transparent;
  box-shadow: 0 0 0 0.25rem #f3f0d7;
  border-color: #f3f0d7;
}

.btn-primary {
  background-color:#b4c6a6;
  border-color:#f3f0d7;
  color:#000000;
}

.btn-primary:hover {
  background-color:#f3f0d7;
  border-color:#b4c6a6;
  color:#000000;
}

.brn-primary:checked {
  background-color:#b4c6a6;
  border-color:#f3f0d7;
  color:#000000;
  box-shadow:0 0 0 0.25rem #f3f0d7;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  background-color:#f3f0d7;
  border-color:#b4c6a6;
  color:#000000;
  box-shadow: 0 0 0 0.25rem #b4c6a6;
}

.btn-dark {
  background-color: #b4c6a6;
}

.btn-dark:hover {
  background-color:#b4c6a6;
  border-color:#f3f0d7;
  color:#000000;
}

.btn-dark:checked {
  background-color:#f3f0d7;
  border-color:#b4c6a6;
  color:#000000;
}

.btn-check:focus + .btn-dark, .btn-dark:focus {
  background-color:#f3f0d7;
  border-color:#b4c6a6;
  color:#000000;
  box-shadow: 0 0 0 0.25rem #b4c6a6;
}

.bg-green {
  background-color: #cee5d0 !important;
}

.bg-light {
  background-color: #f3f0d7 !important;
}

.fetching {
  display: none;
}

.fetching.active {
  display: block;
  font-size: 2em;
  text-align: center;
  margin: 10px 0;
}

.unactive {
  display: none;
}